emvy-checklist-workflow.json
{
  "name": "Emvy Checklist Funnel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emvy-checklist",
        "responseMode": "lastNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "emvy-checklist"
    },
    {
      "parameters": {
        "from": "dawnlabsai@gmail.com",
        "to": "={{ $json.email }}",
        "subject": "Your AI Readiness Checklist — Emvy",
        "html": "<h2>Hi {{ $json.first_name }},</h2>\n<p>Thanks for requesting the AI Readiness Checklist!</p>\n<p>Here's your personal link to access it:</p>\n<p><a href=\"https://emvy-site.vercel.app/checklist.html\"><strong>Get Your AI Readiness Checklist</strong></a></p>\n<p>Answer the 10 questions honestly — and you'll know exactly where to start with AI in your business.</p>\n<p>Reply back with your answers and we'll send you a personalized breakdown.</p>\n<p>— The Emvy Team</p>",
        "options": {}
      },
      "id": "email1",
      "name": "Email 1 - Immediate",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "wait2",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "from": "dawnlabsai@gmail.com",
        "to": "={{ $json.email }}",
        "subject": "The mistake most SMBs make with AI",
        "html": "<p>Hi {{ $json.first_name }},</p>\n<p>Hope the checklist was useful!</p>\n<p>Most small businesses we talk to have the same problem — they try to use AI before figuring out where their team is actually wasting time.</p>\n<p>So they buy a tool, try it for a week, get half results, and quit. Sound familiar?</p>\n<p>The fix isn't the AI. It's knowing which process to automate first.</p>\n<p>Take 2 minutes. Look at your last week. What's the one task you did that felt like Groundhog Day — the same thing over and over?</p>\n<p>That's your starting point.</p>\n<p>More useful stuff coming your way soon.</p>\n<p>— The Emvy Team</p>",
        "options": {}
      },
      "id": "email2",
      "name": "Email 2 - Day 2",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "days"
      },
      "id": "wait5",
      "name": "Wait 5 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "from": "dawnlabsai@gmail.com",
        "to": "={{ $json.email }}",
        "subject": "What AI actually looks like in a real SMB",
        "html": "<p>Hi {{ $json.first_name }},</p>\n<p>We've been talking about where to start with AI. Wanted to share a real example of what it actually looks like in a small business.</p>\n<p>We worked with a 12-person logistics company recently. They were manually entering shipment data into three different systems — same info, typed three times, every single day. One guy was spending 4 hours a day on it.</p>\n<p>We found them a simple fix. Cost $0 to test. Took 2 hours to set up.</p>\n<p>He gets that time back now. No new software. No layoffs. Just wiring up the systems they already had.</p>\n<p>That's usually where the highest ROI lives — not in shiny new AI tools. In the stuff you're already doing manually that should be automatic.</p>\n<p>What's your version of that story?</p>\n<p>— The Emvy Team</p>",
        "options": {}
      },
      "id": "email3",
      "name": "Email 3 - Day 5",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "days"
      },
      "id": "wait8",
      "name": "Wait 8 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "from": "dawnlabsai@gmail.com",
        "to": "={{ $json.email }}",
        "subject": "Want a deeper look at your AI opportunities?",
        "html": "<p>Hi {{ $json.first_name }},</p>\n<p>If you've been thinking about the checklist — here's an offer that might be useful.</p>\n<p>We offer a free 15-minute call. Not a pitch. Not a sales call.</p>\n<p>You answer 10 quick questions about your business beforehand. We review them. Then we spend 15 minutes on a real call where we tell you specifically where AI could save you time — and where you'd be wasting your money trying.</p>\n<p>Most people find it useful even if they don't work with us.</p>\n<p>No obligation. No follow-up if you don't want them.</p>\n<p>Here's the link to book: <a href=\"https://calendly.com/emvyai\">https://calendly.com/emvyai</a></p>\n<p>— The Emvy Team</p>",
        "options": {}
      },
      "id": "email4",
      "name": "Email 4 - Day 8",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "days"
      },
      "id": "wait12",
      "name": "Wait 12 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "from": "dawnlabsai@gmail.com",
        "to": "={{ $json.email }}",
        "subject": "Last one from us — and what to do next",
        "html": "<p>Hi {{ $json.first_name }},</p>\n<p>This is our last email in the sequence. We don't want to clutter your inbox.</p>\n<p>If you're still on the fence — here's what we'd say:</p>\n<p>The businesses that get the most out of AI are the ones that started before they felt ready. They picked one small thing, tested it, learned, and adjusted.</p>\n<p>They didn't wait for certainty.</p>\n<p>If you want a no-pressure conversation about where AI might fit in your business, we're here. If not — good luck with everything.</p>\n<p>Either way — the checklist questions are worth sitting with. Even answering them for yourself is useful.</p>\n<p>Best,<br>The Emvy Team</p>\n<p>P.S. If you ever want to book a free 15-minute call: <a href=\"https://calendly.com/emvyai\">https://calendly.com/emvyai</a></p>",
        "options": {}
      },
      "id": "email5",
      "name": "Email 5 - Day 12",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [2230, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Email 1 - Immediate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email 1 - Immediate": {
      "main": [
        [
          { "node": "Wait 2 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          { "node": "Email 2 - Day 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email 2 - Day 2": {
      "main": [
        [
          { "node": "Wait 5 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 5 Days": {
      "main": [
        [
          { "node": "Email 3 - Day 5", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email 3 - Day 5": {
      "main": [
        [
          { "node": "Wait 8 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 8 Days": {
      "main": [
        [
          { "node": "Email 4 - Day 8", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email 4 - Day 8": {
      "main": [
        [
          { "node": "Wait 12 Days", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 12 Days": {
      "main": [
        [
          { "node": "Email 5 - Day 12", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
